.wordsInput {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.wordsInput input {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    font-size: 20px;
}

.wordsInput p {
    border-style: solid;
    border-color: black;
    height: 300px;
    white-space: pre-line;
}